body{
    font-family: sans-serif;
    padding: 20px;
    justify-content: center;
}

.container{
    width: 400px;
    height: 500px;
    margin: auto;
    background-color: grey;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    margin-top: 50px;
    text-align: center;
}

td{
    padding: 5px;
    border-bottom: 1px solid #000000;
}

.lable{
    font-weight: bold;
    width: 15px;
    font-size: 15px;
}

.data{
    font-size: 12px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.foto{
    text-align: center;
    margin-bottom: 15px;
}
.foto img{
    width: 120px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid #333;
}